<!-- <p>basket works!</p> -->
<div class="container">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" alt="......">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" id="food-name"> {{ "......" }} </h5>
                    <p class="card-text" id="food-description"> {{ "......" }} </p>
                    <br>
                    <div class="buttons">
                        <div class="quantity-buttons">
                            <span>Quantity: <span id="quantity"> {{ "......" }} </span></span>
                            <!-- buttons for incrementing and decrementing -->
                            <button class="quantity-btn" id="decrement">-1</button>
                            <button class="quantity-btn" id="increment">+1</button>
                        </div>
                        <button id="remove">remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="order-card card-body">
        <h4>Order Summary</h4>
        <small> {{ "......" }} meals</small>
        <hr>
        <p>Total payment: $ {{ "......" }}</p>
        <button id="buy">Buy</button>
    </div>
</div>