<!-- <p>basket works!</p> -->
<div class="container">
    <div class="card mb-3" 
        *ngFor="let food of getCurrentBasket().keys()">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" [src]="food.imageUrl" [alt]="food.name">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" id="food-name"> {{ food.name }} </h5>
                    <p class="card-text" id="food-description"> {{ food.description }} </p>
                    <br>
                    <div class="buttons">
                        <div class="quantity-buttons">
                            <span>Quantity: <span id="quantity"> {{ getCurrentBasket().get(food) }} </span></span>
                            <!-- buttons for incrementing and decrementing -->
                            <!-- <button class="quantity-btn" id="decrement" (click)="onIncrement()">-1</button>
                            <button class="quantity-btn" id="increment" (click)="onDecrement()">+1</button> -->
                        </div>
                        <!-- <button id="remove">remove</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="order-card card-body">
        <h4>Order Summary</h4>
        <small> {{ getTotalFoodNumber() }} meals</small>
        <hr>
        <p>Total payment: $ {{ getTotalPayment() }}</p>
        <button id="buy">Buy</button>
    </div>
</div>