<!-- <p>categories works!</p> -->

<div class="row">
    <h1>Categories</h1>
</div>

<div class="row">
    <ul>
        <li><a id="All"        (click)="AllSelected()">All</a></li>
        <li><a id="Pizza"      (click)="PizzaSelected()">Pizza</a></li>
        <li><a id="Burger"     (click)="BurgerSelected()">Burger</a></li>
        <li><a id="Breakfast"  (click)="BreakfastSelected()">Breakfast</a></li>
        <li><a id="Sushi"      (click)="SushiSelected()">Sushi</a></li>
        <li><a id="Soup"       (click)="SoupSelected()">Soup</a></li>
        <li><a id="Salad"      (click)="SaladSelected()">Salad</a></li>
    </ul>
</div>